# Docker data directories
mongodb_data/
redis_data/
redis_insight_data/
kafka_data/
servicos/transacao-service/mongodb_data/

# OS files
.DS_Store
Thumbs.db

# Build and IDE artifacts
.gradle/
build/
target/
.idea/
*.iml
node_modules/
.project
.settings/
.classpath
